.admin-view-container {
  margin-top: 10%; 
}

td {
  vertical-align: 50%;
}

input {
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0);
}

.create-product-id{
 justify-content: center;
 align-items: center;
}


.table-name {
  width: 30vw;
  text-wrap: wrap;
  text-align: start;
}


.table-description {
  width: 40vw;
  text-wrap: wrap;
  text-align: start;
}

.table-description {
  width: 30vw;
  text-wrap: wrap;
  text-align: start;
}

.button{
  padding: 5px;
  text-wrap: nowrap;
  margin-top: 1rem;
  margin-left: 1rem;
}



.input-edit {
  border: 2px solid rgba(35, 199, 114, 0.797);
}

.input-edit:focus {
  background-color: rgba(98, 255, 161, 0.13);
}