.wrap-login100 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login100-form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.login100-form-logo {
  font-size: 48px;
  color: #333;
  display: flex;
  justify-content: center;
}

.login100-form-title {
  font-size: 24px;
  color: #333;
  display: block;
  text-align: center;
  margin: 20px 0;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input100 {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.focus-input100::before {
  content: attr(data-placeholder);
  display: block;
  color: #999;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 10px;
}



.container-login100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login100-form-btn {
  background: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
}

.login100-form-btn-disabled {
  background: #aeb3b9;
  color: #e8e8e8;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;

  transition: all .5s ease;
}

.login100-form-btn:hover {
  background: #555;
}

.text-center {
  text-align: center;
}



